/*Navigation Bar*/

nav,
.navbar {
	background: rgba(0, 0, 0, 0.6);
}

.navbar {
	height: 115px;
	width: 100%;
}

.navbar-fixed-top {
	top: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	color: #000;
}

.navbar>.container .navbar-brand {
	margin-left: -100px;
}

.navbar .navbar-collapse {
	min-width: 755px;
	width: 83%;
}

.navbar .navbar-hearder .bvimit_logo {
	height: 110px;
	top: 0;
	margin-top: -10px;
}

.navbar-brand>img {
	display: block;
}

.navbar .navbar-collapse .bvimit_name {
	height: 72px
}

.navbar .navbar-collapse .bvimit_name_text {
	font-size: 1.4em;
	line-height: 0.8em;
	color: #f29800;
}


/*Home Coarousel*/

.home_carousel {
	position: absolute;
	top: 115px;
	width: 100%;
	max-height: 1080px;
	z-index: -1;
}