/*Common Classes*/

.padding-5 {
	padding: 5px;
}

.padding-10 {
	padding: 10px;
}

.padding-15 {
	padding: 15px;
}

.padding-20 {
	padding: 20px;
}

.padding-25 {
	padding: 25px;
}

.padding-50 {
	padding: 50px;
}

.padding-60 {
	padding: 60px 0;
}

.padding-top-20 {
	padding-top: 20px;
}

.padding-left-0 {
	padding-left: 0;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.bg-grey {
	background-color: lightgrey;
}

.bg-light-orange {
	background-color: rgba(243, 208, 130, 0.11);
}

.text-black {
	color: #000;
}

.text-bold {
	font-weight: bold;
}

.text-small {
	font-size: 1.1em;
}

.text-medium {
	font-size: 1.4em;
}

.text-large {
	font-size: 1.7em;
}

.text-extra-large {
	font-size: 2em;
}

.no-underline {
	text-decoration: none;
}

.pointer-cursur {
	cursor: pointer;
}

.line-height-2 {
	line-height: 2;
}

.line-height-5 {
	line-height: 5;
}

.bottom-25 {
	bottom: 25px !important;
}

.general-bg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.border-black {
	border: 1px solid #000000;
}

.border-light-yellow {
	border: 2px solid #f3d082;
}


/*-----------------------------------ANIMATION STYLES---------------------------------------------*/

a.arrow-down {
	z-index: 999;
	display: block;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	width: 61px;
	height: 64px;
	margin: auto;
	background: url(../images/arrow-down.png) no-repeat 0 0;
	position: absolute;
	bottom: 175px;
	left: 48%;
	cursor: pointer;
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	-ms-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-direction: normal;
	-moz-animation-direction: normal;
	-o-animation-direction: normal;
	-ms-animation-direction: normal;
	animation-direction: normal;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-o-animation-duration: 2s;
	-ms-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-moz-keyframes bounce {
	0% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	20% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	50% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	80% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	20% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	50% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	80% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-o-keyframes bounce {
	0% {
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	20% {
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-o-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	50% {
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	60% {
		-o-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	80% {
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

@-ms-keyframes bounce {
	0% {
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	20% {
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	50% {
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	60% {
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	80% {
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	50% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(-15px);
	}
	80% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}


/*Navigation Bar*/

nav,
.navbar {
	background: rgba(255, 255, 255, 0.9);
}

.navbar {
	width: 100%;
}

.navbar-default {
	-webkit-transition: padding .3s;
	-moz-transition: padding .3s;
	transition: padding .3s;
	border: 0;
}

.navbar .navbar-collapse {
	min-width: 1037px;
}

.navbar .navbar-collapse .btn-login {
	font-size: 1em;
	color: #000;
	background-color: #f3d082;
	padding: 8px 14px 8px 14px;
	float: right;
	margin-top: -15px;
	font-weight: 600;
}

.navbar-brand>img {
	display: block;
}

.navbar .navbar-collapse .bvimit_name {
	height: 72px
}

.navbar-logo {
	height: 190px;
}

@media(min-width:768px) {
	.navbar-default .navbar-brand {
		font-size: 2em;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
	}
	.navbar-default.navbar-shrink .navbar-brand {
		font-size: 1.5em
	}
	.navbar-logo {
		height: 190px;
	}
	/*
	.navbar-default.navbar-shrink .navbar-logo {
		height: 89px;
	}
*/
}

.navbar .navbar-collapse .bvimit_name_text {
	font-size: 1.4em;
	line-height: 0.8em;
	color: #f3d082;
}

.navbar-default .nav li a {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.4em;
	color: #000;
}

.navbar-default .navbar-nav .active>a {
	background-color: #f3d082;
	color: #000;
}


/*Home Coarousel*/

.home_carousel {
	position: relative;
	padding-top: 169px;
	width: 100%;
	max-height: 1080px;
	z-index: -1;
}


/*News & Notices*/

.notices_heading {
	background-color: #f3d082;
	font-size: 1.2em;
	font-weight: 600;
	text-align: justify;
	padding: 10px;
	border-radius: 7px;
}

.notices {
	list-style-type: none;
	text-align: justify;
	font-size: 1em;
	padding-left: 0px;
	padding: 15px;
}

.notices_text {
	padding: 8px 0 8px 0;
	border-bottom: 1px solid #efefef;
}


/*Footer*/

footer {
	background-color: #141414 !important;
	color: #fff;
}

footer .wrapper {
	max-width: 95%;
	margin: 0 auto;
	padding: 70px 0 50px;
}

footer .wrapper .footer-heading {
	font-size: 1.7em;
	line-height: 2;
}

.list-unstyled>li {
	line-height: 2;
}

.list-unstyled>li>a {
	font-size: 1em;
	color: #fff;
	text-decoration: none;
}

.list-unstyled>li>a:hover {
	display: inline-block;
	vertical-align: middle;
	border-bottom: 3px solid #f3d082;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}

.footer-logo {
	background-image: url(../images/bvimit_logo.png);
	width: 98%;
	height: 100px;
	background-repeat: no-repeat;
	background-size: auto 150px;
	background-position: center center;
	pointer-events: none;
	background-size: cover;
}

footer .sub-footer {
	max-width: 100%;
	margin: 0 auto;
	background-color: black;
	text-align: center;
	color: aliceblue;
	font-size: 0.85em;
	padding: 10px 0;
}

.mailto,
.mailto:hover,
.mailto:after {
	color: #fff;
	text-decoration: none;
}

footer .wrapper .social-icons>a {
	padding: 7px;
	color: #fff;
	margin-left: 20px;
}

footer .wrapper .social-iocns>a>fa {
	vertical-align: middle;
	transition: color .3s ease-in-out;
}

footer .wrapper .social-iocns>a>.fa-facebook {
	color: #3B5998;
}

footer .wrapper .social-iocns>a>.fa-twitter:hover {
	color: #4099FF;
}

footer .wrapper .social-iocns>a>.fa-rss:hover {
	color: #F15200;
}


/*About Us Page*/

.cover-aboutus {
	background-image: url(../images/sli-base.jpg);
	height: 400px;
}

.aboutus-text {
	font-size: 1.1em;
	color: #000;
	text-align: justify;
}

.aboutus-college {
	background-image: url(../images/college_infra.jpg);
	height: 150px;
}

.founder-bg {
	background-image: url(../images/staff/founder.jpg);
	height: 320px;
}

.director-bg {
	background-image: url(../images/staff/director.jpg);
	height: 320px;
}


/*Admissions*/

.cover-admissions {
	background-image: url(../images/admissions-banner.jpg);
	height: 390px;
}


/*Academics*/

.cover-academics {
	background-image: url(../images/academics-banner.jpg);
	height: 390px;
}

.bg-aboutmca {
	background-image: url(../images/about-mca.jpg);
	height: 320px;
}

.academics-text {
	font-size: 1.1em;
	color: #000;
	text-align: justify;
}


/*Placements*/

.cover-placemnts {
	background-image: url(../images/placements2.jpg);
	height: 400px;
}

.placemnt-intro {
	background-image: url(../images/placement-intro.jpg);
	height: 150px;
}

.placement-text {
	font-size: 1.1em;
	color: #000;
	text-align: justify;
}

.placement-aptitude {
	padding: 1px 20px;
}

.placement-faculty-member-1 {
	background-image: url(../images/staff/suhasini_Vijaykumar.JPG);
	height: 180px;
}

placement-faculty-member-2 {
	background-image: url(../images/staff/Varsha_Sharma.JPG);
	height: 180px;
}

placement-faculty-member-3 {
	background-image: url(../images/staff/Divya_Premchandran.JPG);
	height: 180px;
}

placement-faculty-member-4 {
	background-image: url(../images/staff/Zahir_J.Mulani.JPG);
	height: 180px;
}


/*Faculty Page*/

.cover-faculty {
	background-image: url(../images/faculty.jpg);
	height: 430px;
}

.faculty-text {
	font-size: 1.1em;
	color: #000;
	text-align: justify;
}


/*Contact Us*/

.cover-contactus {
	background-image: url(../images/contact-us.png);
	height: 400px;
}

.contactus-text {
	width: 100%;
	padding: 50px;
}

.col-center-contactus {
	display: flex;
	justify-content: center;
}

.group {
	position: relative;
	margin-bottom: 30px;
	font-size: 1.2em;
}

input {
	font-size: 1.2em;
	padding: 10px 10px 10px 10px;
	display: block;
	width: 100%;
	border: none;
	background: transparent;
	color: #000;
	border-bottom: 1px solid #757575;
}

input:focus {
	outline: none;
}

input:focus ~ label,
input:valid ~ label {
	top: -20px;
	font-size: 1.2em;
	color: #000;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
	width: 50%;
}

input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.4s ease;
	-moz-animation: inputHighlighter 0.4s ease;
	animation: inputHighlighter 0.4s ease;
}

@-webkit-keyframes inputHighlighter {
	from {
		background: #000;
	}
	to {
		width: 0;
		background: transparent;
	}
}

@-moz-keyframes inputHighlighter {
	from {
		background: #000;
	}
	to {
		width: 0;
		background: transparent;
	}
}

@keyframes inputHighlighter {
	from {
		background: #000;
	}
	to {
		width: 0;
		background: transparent;
	}
}

.btn-color {
	background-color: #f2cf0b;
	font-size: 1.1em;
}

label {
	color: #000;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-webkit-transition: 0.3s ease all;
}

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before,
.bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #000;
	transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-webkit-transition: 0.3s ease all;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
